<mat-toolbar style="width: 100%; display: block" color="primary">
  <div style="display: flex; height: 100%">
    <button
      style="margin: auto 0 auto 0"
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button>
    <span style="margin: auto auto auto 0">Products App</span>
    <span class="example-spacer"></span>

    <button style="margin: auto 0 auto auto" mat-raised-button>LOGIN</button>
  </div>
</mat-toolbar>
